body {
  background-color: white;
  font-family: 'Unbounded', cursive; 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 20px;
}

h1 {
  font-size: 74px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

p {
  color: #717275;
  font-size: 20px;
  font-weight: 300;
}

ul li {
  color: #717275;
  font-size: 20px;
  font-weight: 300;
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: #d6a354;
  text-decoration: none;
}

a:hover {
  color: #B22727;
}

b,
strong {
  font-weight: 20px;
}


#color-w{
  color: white;
}

#szten{
  font-size: 10px;
}



.trans-scale:hover{
  transform: scale(1.1);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding: 100px 50px;
}

.section-bg {
  background-color: #f0f8ff;
}

.section-overlay {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.45;
}

.section-overlay + .container {
  position: relative;
}

.back-top-icon {
  font-size: 46px;
}


/*---------------------------------------
  CUSTOM BLOCK BACKGROUND OVERLAY               
-----------------------------------------*/
.custom-block-bg-overlay-wrap {
  background: #d6a354;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.custom-block-bg-overlay-wrap:hover {
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  transform: scale(1.05);
}

.custom-block-bg-overlay-image {
  border-radius: 20px;
  display: block;
  margin: auto;
  height: 100%;
  object-fit: cover;
  transform: rotate(8deg);
}

.custom-block-bg-overlay-wrap:hover .team-info {
  bottom: 10px;
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: #c12828;
  border: 2px solid transparent;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  font-weight: 20px;
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: #FDBB2D;
  color: white;
}

.custom-border-btn {
  background: transparent;
  border: 2px solid #c12828;
  color: #c12828;
}

.custom-btn-bg-white {
  border-color: white;
  color: white;
}

.custom-btn-italic {
  font-style: italic;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sidebar {
  background: #d6a354;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 0;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  position: relative;
}

.navbar {
  background: transparent;
  z-index: 9;
}

.logo-image {
  width: 154px;
  height: auto;
  margin-bottom: 70px;
}

#sidebarMenu .nav-link {
  color: #000000;
  font-size: 20px;
  font-weight: 20px;
  text-transform: uppercase;
  position: relative;
}

#sidebarMenu .nav-link.active, 
#sidebarMenu .nav-link:hover {
  color: white;
}

.navbar-toggler {
  background: #d6a354;
  border-radius: 100px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 222;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 25px;
  width: 55px;
  height: 55px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: white;
  transition: background 10ms 300ms ease;
  display: block;
  margin: auto;
  width: 25px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: white;
  width: 25px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 50px;
  padding-bottom: 0;
  min-height: 665px;
  border-bottom: 15px solid #d6a354;
}

@media screen and (min-width: 991px) {
  .hero-section {
    height: calc(100vh - 0px);
  }
}

.hero-section::after {
  content: "";
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.65;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.custom-block {
  border: 10px solid #d6a354;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  bottom: -60px;
  right: -60px;
  padding: 50px 90px 50px 50px;
  width: 360px;
  height: 360px;
}

.custom-block .custom-btn {
  background: #d6a354;
}

.custom-block .custom-btn:hover {
  background: #c12828;
}

.custom-block-image {
  border: 10px solid #d6a354;
  border-radius: 100%;
  position: absolute;
  top: -60px;
  right: 20px;
  left: 0;
  width: 120px;
  height: 120px;
  margin: auto;
  object-fit: cover;
}


/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section h6 {
  color: #c12828;
}

.about-section .custom-block-bg-overlay-image {
  width: 100%;
  max-height: 250px;
}

.about-section .custom-block-bg-overlay-wrap {
  position: relative;
}

.team-info {
  background: white;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px 40px;
  padding: 10px 17px 10px 20px;
  transition: all 0.3s ease;
}


/*---------------------------------------
  FEATURED               
-----------------------------------------*/
.featured-section {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
}

.featured-section h2 {
  color: #c12828;
}

.featured-section p {
  color: white;
}

.featured-section strong {
  background: #d6a354;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
}


/*---------------------------------------
  SERVICES             
-----------------------------------------*/
.services-thumb {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.services-thumb:hover .services-info {
  border-color: #d6a354;
  border-width: 5px;
}

.services-thumb:hover .services-image {
  transform: scale(1.05);
}

.services-image {
  border-radius: 20px;
  display: block;
  margin: auto;
  transition: all 0.3s;
}

.services-thumb-price {
  background: #d6a354;
  border-radius: 20px;
  font-size: 14px;
  margin-left: auto;
  padding: 5px 10px;
}

.services-info {
  border-radius: 20px;
  border: 1px solid white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
  padding: 25px 30px;
  transition: all 0.3s ease;
}

.services-info h4 {
  color: white;
}


/*---------------------------------------
  PRICE LIST             
-----------------------------------------*/
.price-list-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.price-list-thumb-wrap {
  padding-right: 50px;
}

.price-list-thumb {
  margin-bottom: 10px;
}

.price-list-thumb:last-child {
  margin-bottom: 0;
}

.price-list-thumb h6 strong {
  color: #d6a354;
}

.price-list-thumb-divider {
  background: #717275;
  flex: auto;
  height: 2px;
  margin: auto 15px 0;
}

.price-list-section .custom-block-bg-overlay-wrap {
  padding: 0;
}


/*---------------------------------------
  BOOKING               
-----------------------------------------*/
.booking-section {
  background-image: url('../images/mockup.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.booking-form {
  background: white;
  border-radius: 20px;
  padding: 65px;
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/

.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.google-map {
  border-radius: 20px;
  filter: hue-rotate(45deg);
}

.contact-block-wrap {
  background: #d6a354;
  border-radius: 20px;
  padding: 0;
  min-height: 200px;
}

.contact-block {
  background-color: #22C1C3;
  border-radius: 20px;
  transform: rotate(8deg);
  height: 100%;
  padding: 20px 40px;
}

.contact-block h6 {
  transform: rotate(-8deg);
}

.contact-block .custom-icon {
  background: #d6a354;
  border-radius: 100px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.contact-block strong {
  display: block;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: #717275;
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
  transition: all 0.3s;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  background: #f0f8ff;
  border-color: transparent;
}

.custom-form button[type="submit"] {
  background: #c12828;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: #FDBB2D;
  border-color: transparent;
}


/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  position: relative;
  padding: 80px 50px;
  padding-top: 0;
}

.site-footer::after {
  content: "";
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.site-footer strong {
  display: block;
  color: #c12828;
}

.copyright-text {
  font-size: 14px;
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: #c12828;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  display: block;
  margin: 0 3px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: #d6a354;
  color: white;
}

.social-icon-link span {
  display: block;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding,
  .hero-section {
    padding: 50px 25px;
  }

  .custom-block {
    display: none;
  }
  
  .navbar {
    background-color: #000000;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .booking-form {
    padding: 45px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .services-info h4 {
    font-size: 20px;
  }

  .booking-form {
    padding: 35px;
  }
}

