/*---------------------------------------
MOCKUP        
-----------------------------------------*/
.mockup-section {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
}

.mockup-section p {
    color: #fff;
}

.mockup-section strong {
    background: #d6a354;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
}

/*---------------------------------------
FEATURES            
-----------------------------------------*/
.features-thumb {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.features-thumb:hover .features-info {
    border-color: #d6a354;
    border-width: 5px;
}

.features-thumb:hover .features-image {
    transform: scale(1.05);
}

.features-image {
    border-radius: 20px;
    display: block;
    margin: auto;
    transition: all 0.3s;
}

.features-thumb-price {
    background: #d6a354;
    border-radius: 20px;
    font-size: 14px;
    margin-left: auto;
    padding: 5px 10px;
}

.features-info {
    border-radius: 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
    padding: 25px 30px;
    transition: all 0.3s ease;
}

.features-info h4 {
    color: #fff;
}

/*---------------------------------------
BOOKING               
-----------------------------------------*/
.booking-section {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.booking-form {
    background: #fff;
    border-radius: 20px;
    padding: 65px;
}

/*---------------------------------------
CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
    color: #717275;
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    outline: none;
    transition: all 0.3s;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
    background: #f0f8ff;
    border-color: transparent;
}

.custom-form button[type="submit"] {
    background: #c12828;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    transition: all 0.3s;
    margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
    background: #fdbb2d;
    border-color: transparent;
}

/*---------------------------------------
CONTACT               
-----------------------------------------*/

.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.google-map {
    border-radius: 20px;
    filter: hue-rotate(45deg);
}

.contact-block-wrap {
    background: #22c1c3;
    border-radius: 20px;
    min-height: 200px;
}

.contact-block {
    background-color: #d6a354;
    border-radius: 20px;
    transform: rotate(2deg);
    padding: 20px 40px;
}

.contact-block h6 {
    transform: rotate(-1deg);
}

.contact-block .custom-icon {
    background: #22c1c3;
    border-radius: 100px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.contact-block strong {
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.h-30 {
    background-color: red;
    height: 100px;
}

/*---------------------------------------
SOCIAL ICON               
-----------------------------------------*/
.social-icon {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    background: #c12828;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    display: block;
    margin: 0 3px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 36px;
    transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
    background: #d6a354;
    color: white;
}

.social-icon-link span {
    display: block;
}

/*---------------------------------------
RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 62px;
    }

    #custom-iframe {
        height: 40vh;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .section-padding,
    .hero-section {
        padding: 50px 25px;
    }

    .custom-block {
        display: none;
    }

    .navbar {
        background-color: #000000;
    }

    .navbar-expand-lg .navbar-nav {
        padding-bottom: 30px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
    }

    .booking-form {
        padding: 45px;
    }

    #custom-account {
        box-shadow: 0 0 10px black;
        max-width: 800px;
        padding: 10px;
    }

    #custom-account::after {
        content: "Welcome to Villa Aurora";
        position: fixed;
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        font-size: 30px;
        background-color: #d6a354;
        z-index: 999;
    }
}

@media screen and (max-width: 767px) {
    .custom-btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    #sidebarMenu {
        background-color: #d6a354;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 38px;
    }

    #sztext {
        font-size: 50px;
    }

    #bglogin {
        height: 105vh;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    .services-info h4 {
        font-size: 20px;
    }

    .booking-form {
        padding: 35px;
    }

    #sidebarMenu {
        background-color: #d6a354;
    }

    #custom-iframe {
        height: 30vh;
    }
}

#captcha {
    width: 100%;
}

@media screen and (max-width: 400px) {
    #captcha {
        transform: scale(0.66);
        transform-origin: 0;
    }
}

@media screen and (max-width: 375px) {
    #sztext {
        font-size: 50px;
    }

    #custom-account {
        box-shadow: 0 0 10px black;
        max-width: 300px;
        padding: 10px;
    }

    #custom-account::after {
        content: "Welcome to Villa Aurora";
        position: fixed;
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        font-size: 30px;
        background-color: #d6a354;
        z-index: 999;
    }

    .arrow {
        display: none;
    }

    #sidebarMenu {
        background-color: #d6a354;
        width: 375px;
        height: 100vh;
    }

    .close-btn {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
    }

    .login-form {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        width: 300px;
        padding: 30px;
    }

    .input-container {
        width: 220px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    #bglogin {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #custom-iframe {
        height: 30vh;
    }
}
